In [39]:
import numpy as np
import pandas as pd

import scipy
from statsmodels.stats.weightstats import *
from statsmodels.stats.proportion import proportion_confint
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
p1 = 10. / 34
p2 = 4. / 16

n1 = 34
n2 = 16

P = float(p1*n1 + p2*n2)/(n1 + n2)

Z = (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [8]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [9]:
proportions_diff_z_test(Z, alternative='greater')

0.37293045872523534

In [10]:
#swiss

In [12]:
data = pd.read_csv('banknotes.txt', sep='\t')
data.head()

      X1     X2     X3    X4    X5     X6  real
0  214.8  131.0  131.1   9.0   9.7  141.0     1
1  214.6  129.7  129.7   8.1   9.5  141.7     1
2  214.8  129.7  129.7   8.7   9.6  142.2     1
3  214.8  129.7  129.6   7.5  10.4  142.0     1
4  215.0  129.6  129.7  10.4   7.7  141.8     1

In [14]:
y = data['real']
X = data.drop('real', axis=1)

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=1)

In [62]:
X_test.shape

(50, 6)

In [26]:
X_train.head()

        X1     X2     X3    X4    X5     X6
98   215.1  130.0  129.8   9.1  10.2  141.5
123  215.1  130.7  130.4  10.5  11.2  139.7
119  214.4  130.2  129.9  10.1  12.0  139.2
53   215.4  130.2  130.2   7.6  10.9  141.6
33   215.6  130.4  130.1   8.4  10.3  141.0

In [36]:
X1_train = X_train.drop(['X4', 'X5', 'X6'], axis=1)
X2_train = X_train.drop(['X1', 'X2', 'X3'], axis=1)
X1_test = X_test.drop(['X4', 'X5', 'X6'], axis=1)
X2_test = X_test.drop(['X1', 'X2', 'X3'], axis=1)

In [63]:
X1_train.head()

        X1     X2     X3
98   215.1  130.0  129.8
123  215.1  130.7  130.4
119  214.4  130.2  129.9
53   215.4  130.2  130.2
33   215.6  130.4  130.1

In [33]:
logreg1 = LogisticRegression()
logreg2 = LogisticRegression()

In [37]:
logreg1.fit(X1_train, y_train)
logreg2.fit(X2_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [65]:
y1_pred = logreg1.predict(X1_test)
y2_pred = logreg2.predict(X2_test)
acc1 = accuracy_score(y_test, y1_pred)
acc2 = accuracy_score(y_test, y2_pred)
print "acc1 =", acc1, " acc2 =", acc2

acc1 = 0.8  acc2 = 0.98

In [43]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [67]:
#H0: p1=p2
#H1: p1 != p2
#ошибочные доли
p1 = 0.2
p2 = 0.02
n1 = n2 = len(y1_pred)
P = float(p1*n1 + p2*n2) / (n1 + n2)
Z = (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))
print "Z =", Z

Z = 2.87641247445

In [66]:
print n1

50

In [68]:
print proportions_diff_z_test(Z)

0.00402223727206

In [70]:
alpha = 0.05
z = scipy.stats.norm.ppf(1 - alpha / 2.)
left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ n1 + p2 * (1 - p2)/ n2)
right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ n1 + p2 * (1 - p2)/ n2)
print 'left =', left_boundary, ' right =', right_boundary

left = 0.0625328978653  right = 0.297467102135

In [53]:
#exam
m0 = 525
X_mean = 541.4
n = 100
deviation = 100
Z = (X_mean - m0) / (deviation / np.sqrt(n))
print 'Z =', Z
print 'p_val =', proportions_diff_z_test(Z, alternative='greater')

Z = 1.64
p_val = 0.0505025834741

In [54]:
X_mean = 541.5
Z = (X_mean - m0) / (deviation / np.sqrt(n))
print 'Z =', Z
print 'p_val =', proportions_diff_z_test(Z, alternative='greater')

Z = 1.65
p_val = 0.0494714680336